imageio==2.2.0
matplotlib==2.1.1
numpy==1.14.0
pyserial==3.4
scikit-image==0.13.1
scipy==1.0.0
six==1.11.0
Adafruit-BluefruitLE==0.9.10
dash==0.28.2
dash-html-components==0.13.2
dash_core_components==0.33.0
PyObjC==5.0